<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

<!-- BootStrap -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />  -->


<!-- Bootstrap Over -->

<link rel="stylesheet" href=home.css>


<!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
<!-- <script src="home.js"></script> -->

<!-- <style>

</style> -->

<body class="w3-light-grey">

  <!-- Top container -->
  <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i
        class="fa fa-bars"></i>  Menu</button>
    <span class="w3-bar-item w3-right">
      <form action="/signOutStudent" method="POST">
        <button type="submit">Logout</button>
      </form>
    </span>
  </div>

  <!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="/w3images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>Mike</strong></span><br>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Overview</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Views</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Traffic</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Geo</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>  Orders</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  News</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  General</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  History</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter" onclick="openBlock(''); ">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
        <div class="w3-clear"></div>
        <h4>File Complaint</h4>
      </div>
    </div>
    <div class="w3-quarter" onclick="openBlock('Pending'); restrictFutureDate('pending');">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>99</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Pending Complaints</h4>
      </div>
    </div>
    <div class="w3-quarter" onclick="openBlock('Solved');restrictFutureDate('solved');" >
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>23</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Solved Complaints</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>50</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Halwa</h4>
      </div>
    </div>
  </div>

  <!-- General News Table -->
  <div class="w3-panel w3-threequarter">
    <div class="w3-row-padding" style="margin:0 -16px">

      <div>
        <h5 onclick="getData()">Feeds</h5>
        <table id='feedTable' class='w3-table  w3-striped w3-white' >
           

        </table>
      </div>
    </div>
  </div>

  <!-- General News Table End -->
  <hr>
  <div class="w3-container">
    <h5>General Stats</h5>
    <p>New Visitors</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-green" style="width:25%">+25%</div>
    </div>

    <p>New Users</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-orange" style="width:50%">50%</div>
    </div>

    <p>Bounce Rate</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-red" style="width:75%">75%</div>
    </div>
  </div>
  <hr>

  <div class="w3-container">
    <h5>Countries</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr>
        <td>United States</td>
        <td>65%</td>
      </tr>
      <tr>
        <td>UK</td>
        <td>15.7%</td>
      </tr>
      <tr>
        <td>Russia</td>
        <td>5.6%</td>
      </tr>
      <tr>
        <td>Spain</td>
        <td>2.1%</td>
      </tr>
      <tr>
        <td>India</td>
        <td>1.9%</td>
      </tr>
      <tr>
        <td>France</td>
        <td>1.5%</td>
      </tr>
    </table><br>
    <button class="w3-button w3-dark-grey">More Countries  <i class="fa fa-arrow-right"></i></button>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Recent Users</h5>
    <ul class="w3-ul w3-card-4 w3-white">
      <li class="w3-padding-16">
        <img src="/w3images/avatar2.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Mike</span><br>
      </li>
      <li class="w3-padding-16">
        <img src="/w3images/avatar5.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Jill</span><br>
      </li>
      <li class="w3-padding-16">
        <img src="/w3images/avatar6.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Jane</span><br>
      </li>
    </ul>
  </div>
  <hr>

  <div class="w3-container">
    <h5>Recent Comments</h5>
    <div class="w3-row">
      <div class="w3-col m2 text-center">
        <img class="w3-circle" src="/w3images/avatar3.png" style="width:96px;height:96px">
      </div>
      <div class="w3-col m10 w3-container">
        <h4>John <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span></h4>
        <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-col m2 text-center">
        <img class="w3-circle" src="/w3images/avatar1.png" style="width:96px;height:96px">
      </div>
      <div class="w3-col m10 w3-container">
        <h4>Bo <span class="w3-opacity w3-medium">Sep 28, 2014, 10:15 PM</span></h4>
        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
      </div>
    </div>
  </div>
  <br>
  <div class="w3-container w3-dark-grey w3-padding-32">
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-green">Demographic</h5>
        <p>Language</p>
        <p>Country</p>
        <p>City</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-red">System</h5>
        <p>Browser</p>
        <p>OS</p>
        <p>More</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-orange">Target</h5>
        <p>Users</p>
        <p>Active</p>
        <p>Geo</p>
        <p>Interests</p>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>FOOTER</h4>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>

  <!-- End page content -->
</div>



<!-- Contact Modal -->
<div id="Complaints" class="w3-modal">
  <header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
    <div class="w3-modal-content w3-animate-zoom" style="border-top-left-radius: 15px; border-top-right-radius: 15px; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;" >

      <div class="w3-bar w3-black" style="border-top-left-radius: 15px; border-top-right-radius: 15px; " >
        <span onclick="document.getElementById('Complaints').style.display='none'"
          class="w3-button w3-display-topright" style="border-top-right-radius: 15px;">x</span>
        <button id="HostelBtn" class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Hostel','tablink','myLink');"><i
            class="fas fa-campground"></i> Hostel</button>
        <button id="FeesBtn" class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Fees','tablink','myLink');"><i class="fa fa-bed"></i>
          Fees</button>
        <button id="MessBtn" class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Mess','tablink','myLink');"><i class="fa fa-car"></i>
          Mess</button>
        <button id="FacultyBtn" class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Faculty','tablink','myLink');"><i class="fa fa-car"></i>
          Faculty</button>
        <button id="LabBtn" class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Lab','tablink','myLink');"><i class="fa fa-car"></i>
          Lab</button>
        <button id="LibraryBtn" class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Library','tablink','myLink');"><i class="fa fa-car"></i>
          Library</button>
      </div>

      <!-- Tabs -->

      <form method="POST" action="/createComplaint" id="hostelComplaintForm">
      <!-- Hostel Complaint Tab -->
      <div id="Hostel" class="w3-container w3-white w3-padding-16 myLink" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">

        <!-- Complaint general or personal -->
        <div style="display: flex;">
          <label style="padding-right: 1cm;" class="apsy-container">
            <input class="w3-radio" type="radio" name="hostelCat" value="general" checked>
            <span class="checkmark"></span>General</label>

          <label class="apsy-container">
            <input class="w3-radio" type="radio" name="hostelCat" value="personal">
            <span class="checkmark"></span>Personal</label>
        </div>


        <!-- Dropdown Menu -->
        <div style="padding-bottom: 10px;">
          <p style="padding-top: 5px; padding-bottom: 5px;">Related To :</p>
          <select id="hostelSelect" onchange="whatChecked(this,'hostelOther')" style="border-radius: 5px;"
            class="dropbtn" name="hostelSelect">
            <option value="electrical">Electrical</option>
            <option value="Water">Water</option>
            <option value="network">Network</option>
            <option value="other">Other</option>
          </select>
        </div>
        <!-- Other Input -->
        <input name="hostelOther" type="text" placeholder="Specify the Other"
          style="border-radius: 5px; visibility: hidden; padding: 5px;  ; color: black;">
          <input name="category" type="text" id='category' value="hostel" hidden="true">
        <!-- Description -->
        <div>
          <p>Description</p>
          <textarea maxlength="200" form="hostelComplaintForm" name="description" id="hostelDesc" rows="4" cols="50" placeholder="Description should not exceed 200 characters"
            style="border-radius: 5px;"></textarea>
        </div>
        <!-- Submit -->
        <button id="hostelSubmit" onclick="compSubmit('hostel')" class="dropbtn" type="submit">Submit</button>

      </div>

    </form>
      <!-- Hostel Complaint Tab Over -->

      <!-- Fees Complaint Tab -->

      <form action="/createComplaint" id="feesComplaintForm" method="POST">
      <div id="Fees" class="w3-container w3-white w3-padding-16 myLink" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
        <!-- Complaint general or personal -->
        <div style="display: flex;">
          <label style="padding-right: 1cm;" class="apsy-container">
            <input class="w3-radio" type="radio" name="feesCat" value="general" checked>
            <span class="checkmark"></span>General</label>

          <label class="apsy-container">
            <input class="w3-radio" type="radio" name="feesCat" value="personal">
            <span class="checkmark"></span>Personal</label>
        </div>

        <input name="category" type="text" name='category' value="fees" hidden="true">
        <!-- Description -->
        <div>
          <p>Description</p>
          <textarea name="description" form="feesComplaintForm" id="feesDesc" rows="4" cols="50" placeholder="Description should not exceed 200 characters"
            style="border-radius: 5px;"></textarea>
        </div>

        <!-- Submit -->
        <button id="FeesSubmit"  class="dropbtn" type="submit">Submit</button>
      </div>

    </form>
      <!-- Fees Complaint Tab Over -->

      <form action="/createComplaint" id="messComplaintForm" method="POST" >
      <!-- Mess Complaint Tab  -->
      <div id="Mess" class="w3-container w3-white w3-padding-16 myLink" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
        <!-- Complaint general or personal -->
        <div style="display: flex;">
          <label style="padding-right: 1cm;" class="apsy-container">
            <input class="w3-radio" type="radio" name="messCat" value="general" checked>
            <span class="checkmark"></span>General</label>

          <label class="apsy-container">
            <input class="w3-radio" type="radio" name="messCat" value="personal">
            <span class="checkmark"></span>Personal</label>
        </div>

        <!-- Dropdown Menu -->
        <div style="padding-bottom: 10px;">
          <p style="padding-top: 5px; padding-bottom: 5px;">Related To :</p>
          <select id="messSelect" onchange="whatChecked(this,'messOther')" style="border-radius: 5px;"
            class="dropbtn" name="messSelect">
            <option value="mess staff">Mess Staff</option>
            <option value="food">Food</option>
            <option value="other">Other</option>
          </select>
        </div>
        <!-- Other Input -->
        <input name="messOther" type="text" placeholder="Specify the Other"
          style="border-radius: 5px; visibility: hidden; padding: 5px;  ; color: black;">


          <input name="category" type="text" name='category' value="mess" hidden="true">
        <!-- Description -->
        <div>
          <p>Description</p>
          <textarea maxlength="200" form="messComplaintForm" name="description" id="messDesc" rows="4" cols="50" placeholder="Description should not exceed 200 characters"
            style="border-radius: 5px;"></textarea>
        </div>
        <!-- Submit -->
        <button id="messSubmit" onclick="compSubmit('mess')" class="dropbtn" type="submit">Submit</button>

      </div>

    </form>
      <!-- Mess Complaint Tab Over -->

      <!-- Faculty Complaint Tab -->

      <form action="/createComplaint" id="facultyComplaintForm" method="POST">
      <div id="Faculty" class="w3-container w3-white w3-padding-16 myLink" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
        <!-- Complaint general or personal -->
        <div style="display: flex;">
          <label style="padding-right: 1cm;" class="apsy-container">
            <input class="w3-radio" type="radio" name="facCat" value="general" checked>
            <span class="checkmark"></span>General</label>

          <label class="apsy-container">
            <input class="w3-radio" type="radio" name="facCat" value="personal">
            <span class="checkmark"></span>Personal</label>
        </div>

        <!-- Dropdown Menu -->
        <div style="padding-bottom: 20px;">
          <p style="padding-top: 3px; padding-bottom:0.2px;">Department</p>
          <select id="facSelect" style="border-radius: 5px;" class="dropbtn" name="facSelect">
            <option value="che">CH</option>
            <option value="cse">CSE</option>
            <option value="civ">CV</option>
            <option value="eee">EEE</option>
            <option value="ece">EC</option>
            <option value="it">IT</option>
            <option value="mec">MEC</option>
            <option value="min">MI</option>
            <option value="met">MT</option>
          </select>
        </div>
        <!-- Faculty Name -->
        <input name="facName" type="text" placeholder="Faculty Name"
          style="border-color: #3498DB;;border-radius: 5px; padding: 5px;">
        <!-- Description -->
        <input name="category" type="text" name='category' value="faculty" hidden="true">
        <div>
          <p>Description</p>
          <textarea maxlength="200" name="description" form="facultyComplaintForm" id="facDesc" rows="4" cols="50" placeholder="Description should not exceed 200 characters"
            style="border-radius: 5px;"></textarea>
        </div>

        <!-- Submit -->
        <button id="facSubmit" onclick="compSubmit('fac')" class="dropbtn" type="submit">Submit</button>
      </div>

      <!-- Faculty Complaint Tab Over -->

    </form>
      <!-- Lab Complaint Tab -->

      <form action="/createComplaint" id="labComplaintForm" method="POST">
      <div id="Lab" class="w3-container w3-white w3-padding-16 myLink" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
        <!-- Complaint general or personal -->
        <div style="display: flex;">
          <label style="padding-right: 1cm;" class="apsy-container">
            <input class="w3-radio" type="radio" name="labCat" value="general" checked>
            <span class="checkmark"></span>General</label>

          <label class="apsy-container">
            <input class="w3-radio" type="radio" name="labCat" value="personal">
            <span class="checkmark"></span>Personal</label>
        </div>

        <!-- Dropdown Menu -->
        <div style="padding-bottom: 20px;">
          <p style="padding-top: 3px; padding-bottom:0.2px;">Department :</p>
          <select id="labSelect" style="border-radius: 5px;" class="dropbtn" name="labSelect">
            <option value="che">CH</option>
            <option value="cse">CSE</option>
            <option value="civ">CV</option>
            <option value="eee">EEE</option>
            <option value="ece">EC</option>
            <option value="it">IT</option>
            <option value="mec">MEC</option>
            <option value="min">MI</option>
            <option value="met">MT</option>
          </select>
        </div>
        <!-- Lab's Name -->
        <input name="labName" type="text" placeholder="Lab Name"
          style="border-color: #3498DB;;border-radius: 5px; padding: 5px;">
        <!-- Description -->
        <input name="category" type="text" name='category' value="lab" hidden="true">
        <div>
          <p>Description</p>
          <textarea maxlength="200" name="description" form="labComplaintForm" id="labDesc" rows="4" cols="50" placeholder="Description should not exceed 200 characters"
            style="border-radius: 5px;"></textarea>
        </div>

        <!-- Submit -->
        <button id="labSubmit" onclick="compSubmit('lab')" class="dropbtn" type="submit">Submit</button>
      </div>
      <!-- Lab Complaint Tab Over -->

    </form>

    <form action="/createComplaint" id="libraryComplaintForm" method="POST">
      <!-- Library Complaint Tab -->
      <div id="Library" class="w3-container w3-white w3-padding-16 myLink" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">

        <!-- Complaint general or personal -->
        <div style="display: flex;">
          <label style="padding-right: 1cm;" class="apsy-container">
            <input class="w3-radio" type="radio" name="libCat" value="general" checked>
            <span class="checkmark"></span>General</label>

          <label class="apsy-container">
            <input class="w3-radio" type="radio" name="libCat" value="personal">
            <span class="checkmark"></span>Personal</label>
        </div>


        <!-- Dropdown Menu -->
        <div style="padding-bottom: 10px;">
          <p style="padding-top: 5px; padding-bottom: 5px;">Related To :</p>
          <select id="libSelect" onchange="whatChecked(this,'libOther')" style="border-radius: 5px;" class="dropbtn" name="libSelect">
            <option value="books">Books</option>
            <option value="library staff">Library Staff</option>
            <option value="other">Other</option>
          </select>
        </div>
        <!-- Other Input -->
        <input name="libOther" type="text" placeholder="Specify the Other"
          style="border-radius: 5px; visibility: hidden; padding: 5px;  ; color: black;">
        <!-- Description -->
        <input name="category" type="text" name='category' value="library" hidden="true">
        <div>
          <p>Description</p>
          <textarea maxlength="200" name="description" form="libraryComplaintForm" id="libDesc" rows="4" cols="50" placeholder="Description should not exceed 200 characters"
            style="border-radius: 5px;"></textarea>
        </div>

        <!-- Submit -->
        <button id="libSubmit" onclick="compSubmit('library')" class="dropbtn" type="submit">Submit</button>
      </div>

    </form>
      <!-- Library Complaint Tab Over -->


    </div>

  </header>
</div>

<!-- Pending Complaints -->

<div id="PendingComplaints" class="w3-modal">
    <header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
      <div class="w3-modal-content w3-animate-zoom" style="border-top-left-radius: 15px; border-top-right-radius: 15px; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;" >
  
        <div class="w3-bar w3-black" style="border-top-left-radius: 15px; border-top-right-radius: 15px;" >
          <span onclick="document.getElementById('PendingComplaints').style.display='none'"
            class="w3-button w3-display-topright" style="border-top-right-radius: 15px;">x</span>
          <button id="PendingBtn" class="w3-bar-item w3-button Pendingtablink" onclick="openLink(event, 'Pending','Pendingtablink','PendingmyLink');"><i
              class="fas fa-campground"></i> Pending Complaints</button>
        </div>
  
        <!-- Tabs -->
  
        <!-- Hostel Complaint Tab -->
        <div id="Pending" class="w3-container w3-white w3-padding-16 PendingmyLink" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
          
          
            
            <!-- General Or Personal -->
            <div style="display: flex;">
              <label style="padding-right: 1cm;" class="apsy-container">
                <input class="w3-radio" type="radio" name="pendingCat" value="general" checked>
                <span class="checkmark"></span>General</label>
    
              <label class="apsy-container">
                <input class="w3-radio" type="radio" name="pendingCat" value="personal">
                <span class="checkmark"></span>Personal</label>
            </div>
            
            <!-- Dropdown Menu -->
            <div style="display: flex;">
            <div style="padding-bottom: 10px; margin-right: 10px;;" >
              <p style="padding-top: 5px; padding-bottom: 1px;">Category :</p>
              <select id="pendingSelect"  style="border-radius: 5px; " class="dropbtn" name="pendingSelect">
                <option value="all" selected>All</option>
                <option value="hostel">Hostel</option>
                <option value="fees">Fees</option>
                <option value="mess">Mess</option>
                <option value="faculty">Faculty</option>
                <option value="lab">Lab</option>
                <option value="library">Library</option>
              </select>
            </div>
            <div style="padding-bottom: 10px; margin-right: 10px;;" >
              <p style="padding-top: 5px; padding-bottom: 1px;">From :</p>
            <input type="date" id="pendingFromDate"  class="dropbtn">
            </div>
            <div style="padding-bottom: 10px; margin-right: 10px;;" >
              <p style="padding-top: 5px; padding-bottom: 1px;">To :</p>
            <input type="date" id="pendingToDate" class="dropbtn">
            </div>

            <div style="padding-bottom: 10px; margin-right: 10px;;" >
                <p style="padding-top: 5px; padding-bottom: 1px;"> <br>  </p>
              <button id="pendingSubmit" onclick="loadComplaints('pending');" class="dropbtn"><i class="fa fa-search"></i></button>
            </div>
          </div>
            
            <div>
            <p class="w3-text-red" id="pendingWarning"></p>
            <table id='pendingTable' class= 'w3-table  w3-striped w3-white' >
               
    
            </table>
          </div>
        
        </div>
  
     </div>
  
    </header>
  </div>

  <!-- Pending Complaints Over -->

<!-- Solved Complaints -->

<div id="SolvedComplaints" class="w3-modal">
  <header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
    <div class="w3-modal-content w3-animate-zoom" style="border-top-left-radius: 15px; border-top-right-radius: 15px; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;" >

      <div class="w3-bar w3-black" style="border-top-left-radius: 15px; border-top-right-radius: 15px; " >
        <span onclick="document.getElementById('SolvedComplaints').style.display='none'"
          class="w3-button w3-display-topright" style="border-top-right-radius: 15px;">x</span>
        <button id="SolvedBtn" class="w3-bar-item w3-button Solvedtablink" onclick="openLink(event, 'Solved','Solvedtablink','SolvedmyLink');"><i
            class="fas fa-campground"></i> Solved Complaints</button>
      </div>

      <!-- Tabs -->

      <!-- Hostel Complaint Tab -->
      <div id="Solved" class="w3-container w3-white w3-padding-16 SolvedmyLink" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
      
          <div style="display: flex;">
              <label style="padding-right: 1cm;" class="apsy-container">
                <input class="w3-radio" type="radio" name="solvedCat" value="general" checked>
                <span class="checkmark"></span>General</label>
    
              <label class="apsy-container">
                <input class="w3-radio" type="radio" name="solvedCat" value="personal">
                <span class="checkmark"></span>Personal</label>
            </div>
            
            <!-- Dropdown Menu -->
            <div style="display: flex;">
            <div style="padding-bottom: 10px; margin-right: 10px;;" >
              <p style="padding-top: 5px; padding-bottom: 1px;">Category :</p>
              <select id="solvedSelect"  style="border-radius: 5px; " class="dropbtn" name="solvedSelect">
                <option value="all" selected>All</option>
                <option value="hostel">Hostel</option>
                <option value="fees">Fees</option>
                <option value="mess">Mess</option>
                <option value="faculty">Faculty</option>
                <option value="lab">Lab</option>
                <option value="library">Library</option>
              </select>
            </div>
            <div style="padding-bottom: 10px; margin-right: 10px;;" >
              <p style="padding-top: 5px; padding-bottom: 1px;">From :</p>
            <input type="date" id="solvedFromDate"  class="dropbtn">
            </div>
            <div style="padding-bottom: 10px; margin-right: 10px;;" >
              <p style="padding-top: 5px; padding-bottom: 1px;">To :</p>
            <input type="date" id="solvedToDate" class="dropbtn">
            </div>

            <div style="padding-bottom: 10px; margin-right: 10px;;" >
                <p style="padding-top: 5px; padding-bottom: 1px;"> <br>  </p>
              <button id="solvedSubmit" onclick="loadComplaints('solved');" class="dropbtn"><i class="fa fa-search"></i></button>
            </div>
          </div>
            
            <div>
            <p class="w3-text-red" id="solvedWarning"></p>
            <table id='solvedTable' class= 'w3-table  w3-striped w3-white' >
               
    
            </table>
          </div>
      
      </div>
   </div>

  </header>
</div>



  <!-- Solved Complaints Over -->
</body>

<script src="home.js"></script>


</html>