<%- include('./partials/header'); -%>


<link rel="stylesheet" href="css/signIn.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<script>
    function myFunction() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>


</head>

<body>



    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon
        <div class="fadeIn first">
          <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div> -->

            <!-- Login Form -->
            <br>
            <form method="POST" action="/adminSignIn">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password"
                    required>
                <input type="submit" class="fadeIn fourth" value="Sign In">
                <!-- An element to toggle between password visibility -->
                <br>
                <input type="checkbox" onclick="myFunction()">Show Password
                <br><br>
            </form>

            <!-- Remind Password -->
            <div id="formFooter">
                <a class="underlineHover" href="/studentSignIn">Not Admin?</a>
            </div>

        </div>
    </div>

    <%- include('./partials/footer') -%>