<%- include('./partials/header'); -%>




<link rel="stylesheet" href="css/signIn.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script>
    var check = function () {
        if (document.getElementById('password').value ==
            document.getElementById('confirmPassword').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = '🟢';
            document.getElementById('submit').disabled = false;
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = '🔴';
            document.getElementById('submit').disabled = true;
        }
    }

    function myFunction() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>


</head>

<body>



    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon
            <div class="fadeIn first">
              <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
            </div> -->

            <!-- Login Form -->
            <br>
            <form name="signUpForm" method="POST" action="/studentSignUp">
                <input type="text" pattern='[1-9][0-9]{5}' id="sid" class="fadeIn second" name="sid" placeholder="Student Id" required autocomplete="off">
                <input type="text" id="firstName" class="fadeIn second" name="firstName" placeholder="First Name"
                    required>
                <input type="text" id="lastName" class="fadeIn second" name="lastName" placeholder="Last Name" required>
                <input type="text" pattern="[789][0-9]{9}" id="mobile" class="fadeIn second" name="mobile"
                    placeholder="Mobile Number(India)" required autocomplete="off">
                <input type="text" id="room" class="fadeIn second" name="room" placeholder="Room Number" required autocomplete="off">

                <!-- Dropdown Menu For Branch-->

                <div style="padding-bottom: 10px;" class="fadeIn second">
                    <p>Branch</p>
                    <select id="branch" onchange="whatChecked(this,'hostelOther')" style="border-radius: 5px;"
                        class="dropbtn" name="branch" required>
                        <option value="cse">CSE</option>
                        <option value="it">IT</option>
                        <option value="ece">ECE</option>
                        <option value="eee">EEE</option>
                        <option value="mec">MECH</option>
                        <option value="min">MINING</option>
                        <option value="met">META</option>
                        <option value="civ">CIVIL</option>
                        <option value="che">CHEM</option>
                    </select>
                </div>

                <!-- Dropdown Menu For Hostel-->

                <div style="padding-bottom: 5px;" class="fadeIn second">
                    <p>HOSTEL</p>
                    <select id="hostel" onchange="whatChecked(this,'hostelOther')" style="border-radius: 5px;"
                        class="dropbtn" name="hostel" required>
                        <option value="I">I</option>
                        <option value="II">II</option>
                        <option value="III">III</option>
                        <option value="IV">IV</option>
                        <option value="V">V</option>
                        <option value="PG">PG</option>
                        <option value="VII">VII</option>
                        <option value="VIII">VIII</option>
                        <option value="MT1">MT1</option>
                        <option value="MT2">MT2</option>
                        <option value="MT3">MT3</option>
                        <option value="GB">GB</option>
                    </select>
                </div>


                <input type="email" id="email" class="fadeIn second" name="email" placeholder="Email" required>
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password (8 characters minimum):"
                    onkeyup='check();' minlength="8" required>
                <input type="password" id="confirmPassword" class="fadeIn third" name="confirmPassword"
                    placeholder="Confirm Password" onkeyup='check();' required>
                <span id='message'></span>
                <input type="submit" class="fadeIn fourth" value="Create Account" id="submit">

                <!-- An element to toggle between password visibility -->
                <br>
                <input type="checkbox" onclick="myFunction()">Show Password
                <br><br>
            </form>

            <!-- Remind Password -->
            <div id="formFooter">
                <a class="underlineHover" href="/studentSignIn">Already have an account?</a>
                <br>
                <a class="underlineHover" href="/">Not Student?</a>
            </div>

        </div>
    </div>
    <%- include('./partials/footer') -%>