
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

/* Radio Buttons Css */
/* The apsy-container */
.apsy-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.apsy-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.apsy-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.apsy-container input:checked ~ .checkmark {
  background-color: #607D8B;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.apsy-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.apsy-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/* Radio buttons css over */



  /* Dropdown menu */

  .dropbtn {
    background-color: #607D8B;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  

/* Dropdown menu made */

/* Collapse animation */

.rowCollAniate .fa {
  transition: .3s transform ease-in-out;
}
.rowCollAnimate .collapsed .fa {
  transform: rotate(90deg);
}